<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="UniqueGUID" value="CurrentGUIDName0001"/>
    <add key="ImplicitWaits" value="10"/>
    <add key="ExplicitWait" value="120"/>
    <add key="ParentBrowser" value="firefox"/>
    <add key="TestUser" value=""/>
    <add key="TestPassword" value=""/>
    <add key="Email" value="donethedeal@gmail.com"/>
    <add key="Password" value="emails1!"/>
    <add key="ResultReportingEmail" value="shahi.aditya@gmail.com"/>
    <add key="NetworkLocation" value="//sdd/dfd//df"/>
    <add key="baseURL" value="http://www.lampsplus.com/"/>
    <add key="sendlog" value="true"/>
    <add key="DeleteOldLogfiles" value="true"/>
    <add key="RecordingWhileFailure" value="false"/>
    <add key="EndToEndTesting" value="true"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebDriver" publicKeyToken="1C2BD1631853048F" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.25.1.0" newVersion="2.25.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
