<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="UniqueGUID" value="CurrentGUIDName0001"/>
    <add key="ImplicitWaits" value="10"/>
    <add key="ExplicitWait" value="120"/>
    <add key="ParentBrowser" value="firefox"/>
    <!--user info-->
    <add key="TestUser" value=""/>
    <add key="TestPassword" value=""/>
    <add key="TestUserName" value=""/>
    <!--send log info-->
    <add key="Email" value=""/>
    <add key="Password" value=""/>
    <add key="ResultReportingEmail" value=""/>
    
    <add key="NetworkLocation" value="//sdd/dfd//df"/>
    <add key="baseURL" value=""/>
    <add key="sendlog" value="true"/>
    <!--log mgmt info-->
    <add key="DeleteOldLogfiles" value="true"/>
    <add key="RecordingWhileFailure" value="true"/>
    <add key="EndToEndTesting" value="true"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebDriver" publicKeyToken="1C2BD1631853048F" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.25.1.0" newVersion="2.25.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
